.aboutcomplete{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abouty {
  margin: 0 2.5rem 4.8rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Shippori Antique';
  font-weight: 400;
  font-size: 4.7rem;
  line-height: 1.333;
  color: #000000;
}
.aboutext{
margin: 0 6rem 6.2rem 6.4rem;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.094;
  color: #000000;
}
