.footer {
  display: flex;
  font-family: "Montserrat";
  padding: 5rem 3rem;
  justify-content: space-evenly;
  border-top: 2px solid black;
  flex-wrap: wrap;
}
a{
  color: #000;
}
.c1, .c2, .c3, .c4 {
  flex: 1;
  min-width: 250px; /* Adjust this based on your design */
  margin: 1rem;
}

.c1 {
  display: flex;
  flex-direction: column;
  margin-right: 7.2rem;
}

.hp {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  color: #000000;
}

.arch {
  margin-top: 5px;
  font-weight: 600;
  font-size: 0.7rem;
  color: #000000;
}

.para {
  font-weight: 300;
  font-size: 1.5rem;
  color: #000000;
}

.cntct, .menulink, .social {
  font-family: 'Shippori Antique';
  font-weight: 400;
  font-size: 2rem;
  color: #000000;
  line-height: 2.5;
}

.contac, .menu-items, .social-items {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1rem;
  color: inherit;
  line-height: 2;
}

.menu-items {
  display: flex;
  flex-direction: column;
}



