.jas-slide {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.jas-slide img {
  width: 35rem;
  border-radius: 10px;
}

.jasminee-2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  padding: 3rem;
}
.jasminee-2 img{
  width: 19rem;
  border-radius: 10px;
}
.jas-text {
  font-family: "Montserrat";
  line-height: 2;
  text-justify: auto;
  margin: 0 5rem 5rem 5rem;
}